<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">
      <%= t "users.member.member" %> : <%= total_member @trainers, @trainees %>
    </h3>
    <div class="box-tools pull-right">
    </div>
  </div>
  <div class="box-body">
    <%= t "users.member.trainers" %> :  <%= @trainers.size %>
    <%= render partial: "component/member_component/member_item", collection: @trainers, as: :user%>
  </div>
  <hr>
  <div class="box-body">
    <%= t "users.member.trainee" %> : <%= @trainees.size %>
    <%= render partial: "component/member_component/member_item", collection: @trainees, as: :user%>
  </div>
</div>
