<div class="box box-primary">
  <div class="box-body">
    <p class="text-muted">
      <%= t "users.profile.name" %> : <%= @user.name %>
    </p>
    <hr>
    <p class="text-muted">
      <%= t "users.profile.email" %> : <%= @user.email %>
    </p>
    <hr>
    <p class="text-muted">
      <%= t "users.profile.university" %> : <%= @user.university %>
    </p>
    <hr>
    <p class="text-muted">
      <%= t "users.profile.organization" %> : <%= @user.organization %>
    </p>
    <hr>
    <p class="text-muted">
      <%= t "users.profile.program" %> : <%= @user.program %>
    </p>
    <hr>
    <p class="text-muted">
      <%= t "users.profile.date_start" %> : <%= @user.date_start %>
    </p>
    <hr>
  </div>
</div>
