<tr class="row_custom">
  <td class="cell_custom"><%= link_to user.name, user %></td>
  <td class="cell_custom"><%= user.email %></td>
  <td class="cell_custom"><%= user.university %></td>
  <td class="cell_custom"><%= user.organization %></td>
  <td class="cell_custom"><%= user.program %></td>
  <td class="cell_custom">
    <%= link_to t("users.edit.view_profile"), edit_user_path(user) %>
  </td>
</tr>
