<% provide :title,  t(".title") %>
<% provide :button_text, t(".btn") %>
<h1><%= t ".h1" %><%=  @course.id  %></h1>
<h2><%= link_to "Show", @course %></h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
  </div>
</div>
<table class="dtls-c">
  <thead>
    <th><%= t ".subjects" %></th>
    <th><%= t ".trainees" %></th>
    <th><%= t ".trainers" %></th>
  </thead>
  <tr>
    <td>
      <ul class="ls-sub">
        <%= render partial: "subjects_added", collection: @subjects, as: :subject %>
      </ul>
    </td>
  <td>
    <ul class="ls-sub">
      <%= render partial: "users_added", collection: @trainees, as: :user %>
    </ul>
  </td>
  <td>
    <ul class="ls-sub">
      <%= render partial: "users_added", collection: @trainers, as: :user %>
    </ul>
  </td>
  </tr>
  <% unless @course.finish? %>
    <tr>
      <td>
        <% if @all_subjects.present? %>
          <ul class="ls-sub">
            <p><%= t ".another_sb" %></p>
            <%= render partial: "subjects_adding", collection: @all_subjects,
              as: :subject %>
          </ul>
        <% end %>
      </td>
      <td>
        <% if @all_trainees.present? %>
          <ul class="ls-sub">
            <p><%= t ".another_trainer" %></p>
            <%= render partial: "users_adding", collection: @all_trainees,
              as: :user %>
          </ul>
        <% end %>
      </td>
      <td>
        <% if @all_trainers.present? %>
          <ul class="ls-sub">
            <p><%= t ".another_trainee" %></p>
            <%= render partial: "users_adding", collection: @all_trainers,
              as: :user %>
          </ul>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
