<% provide :title, @course.name %>
<div class="row">
  <h1><%= @course.name %></h1>
  <h2><%= t("courses.show.desc") %><%= @course.description %></h2>
  <h2><%= t("courses.show.created") %><%= @course.created_at %></h2>
  <table class="dtls-c">
    <thead>
      <th><%= t "courses.show.subjects" %></th>
      <th><%= t "courses.show.trainees" %></th>
      <th><%= t "courses.show.trainers" %></th>
    </thead>
    <td>
      <ul class="ls-sub">
        <%= render partial: "subject", collection: @subjects, as: :subject %>
        <%= will_paginate @subjects %>
      </ul>
    </td>
    <td>
      <ul class="ls-sub">
        <%= render partial: "user", collection: @trainees, as: :user %>
        <%= will_paginate @trainees %>
      </ul>
    </td>
    <td>
      <ul class="ls-sub">
        <%= render partial: "user", collection: @trainers, as: :user %>
        <%= will_paginate @trainers %>
      </ul>
    </td>
  </table>
</div>
