<% provide :title, @course.name %>
<div class="row">
  <h1><%= @course.name %></h1>
  <h2><%= t("courses.show.desc") %><%= @course.description %></h2>
  <h2><%= t("courses.show.created") %><%= @course.created_at %></h2>
  <table>
    <thead>
      <th><%= t "courses.show.subjects" %></th>
      <th><%= t "courses.show.trainees" %></th>
      <th><%= t "courses.show.trainers" %></th>
    </thead>
    <td>
      <ul class="ls-sub">
        <%= render @subjects %>
        <%= will_paginate @subjects %>
      </ul>
    </td>
    <td>
      <ul class="ls-sub">
        <%= render @trainees %>
        <%= will_paginate @trainees %>
      </ul>
    </td>
    <td>
      <ul class="ls-sub">
        <%= render @trainers %>
        <%= will_paginate @trainers %>
      </ul>
    </td>
  </table>
</div>
