<% provide :title, @course.name %>
<div class="row">
  <h1><%= @course.name %></h1>
  <h2><%= t("courses.show.desc") %><%= @course.description %></h2>
  <h2><%= t("courses.show.created") %><%= @course.created_at %></h2>
  <li><%= link_to t("courses.showcourses.show.subjects"), "#" %></li>
  <li><%= link_to t("courses.show.trainees"), "#" %></li>
  <li><%= link_to t("courses.show.trainers"), "#" %></li>
</div>
